<!DOCTYPE html>
<html>
  <head>
    <title>Wingify API</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <!-- Polyfill(s) for older browsers -->
   
  </head>

  <body>
  	<h1 style="text-align: center;margin-top: 10px;font-size: 10em;">Welcome</h1><br><br>

    <div class="container" style="text-align:center;display: flex;justify-content: center;">
    		
    	<div class="col-md-8" >
		    <div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">API Links</h3>
				  </div>
				  <div class="panel-body">
					    <a href="/api/hotel/rooms" target="blank()"><button class="btn btn-primary">List Room Details</button></a>
				 	  
				 	  
					    <a href="/api/hotel/rooms/create" target="blank()"><button class="btn btn-primary">Create Rooms</button></a>

					    <a href="/api/hotel/rooms/book" target="blank()"><button class="btn btn-primary">Book Rooms</button></a>
				 	
				 	  
					    <a href="/api/hotel/bulk-update" target="blank()"><button class="btn btn-primary">Bulk Update Rooms Information</button></a>
			 	  </div>
			 	  
			</div>
		</div>
	</div>
  </body>
</html>